<html>
    <head>
        <title>SITE SACO</title>
        <link rel="stylesheet" href="../css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0" >
    </head>
    <body>
        <header>
            <div class="center">
                <div class="logo" href="index.html"><img src="../../images/logo.png">
                </div>
                    <div class="menu">
                        <a href="index.html">Clientes</a>
                        <a href="funcionarios.html">Funcionarios</a>
                        <a href="consultas.html">Consultas</a>
                        <a href="servicos.html">Serviços</a>
                        <a href="informacoes.html">Informações</a>
                        <a href="login.html" id="sair">Sair</a>
                    </div>
            </div>
            <div class="centro">
                <div class="consulta">
                    <form action="" method="POST">
                        <select name="consultaSelect">
                           <option value="">...</option>
                           <option value="">Funcionarios que são clientes</option>
                           <option value="">Funcionarios que ganham mais que a média, admimitidos pos 2000</option>
                           <option value="">Marca e modelo mais atentido</option>
                           <option value="">Itens de serviços</option>
                           <option value="">10 clientes que as OS demandam mais tempo</option>
                           <option value="">Clientes em espera</option>
                          
                        </select><br><br>
                        <div><input type="submit" value="Cosultar" class="consultar"></div>
                    </form>
                </div>     
        </header>
    </body>
</html>