<html>
    <head>
        <title>SITE SACO</title>
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0" >
    </head>
    <body>
        <header>
            <div class="center">
                <div class="logo" href="index.html"><img src="../../images/logo.png">
                </div>
                    <div class="menu">
                        <a href="index.html">Inicio</a>
                        <a href="#">Clientes</a>
                        <a href="#">Funcionarios</a>
                        <a href="#">Ordens de serviço</a>
                        <a href="#">Informações</a>
                        <a href="login.html" id="sair">Sair</a>
                    </div>
            </div>
        </header>
    </body>
</html>