<html>
    <head>
        <title>SITE SACO</title>
        <link rel="stylesheet" href="../css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0" >
    </head>
    <body>
        <header>
            <div class="center">
                <div class="logo" href="index.html"><img src="../../images/logo.png">
                </div>
                    <div class="menu">
                        <a href="index.html">Clientes</a>
                        <a href="#">Funcionarios</a>
                        <a href="#">Consultas</a>
                        <a href="#">Serviços</a>
                        <a href="#">Informações</a>
                        <a href="login.html" id="sair">Sair</a>
                    </div>
            </div>
            <div class="centro">
                <div class="formulario">
                    <form action="{{url_for('add_cliente')}}" method="POST">
                        <div class ="nome">Adicionar Cliente</div><br><br>
                        <div class ="formulario_campo">
                                <input type="text" class="formulario_controle" name="nome_cliente" placeholder="Nome Completo"><br><br>
                        </div>
                        <div class ="formulario_campo">
                            <input type="text" class="formulario_controle" name="endereco_cliente" placeholder="Endereço"><br><br>
                        </div>
                        <div class ="formulario_campo">
                            <input type="number" class="formulario_controle" name="cpf_cnpj_cliente" placeholder="CPF/CNPJ"><br><br>
                        </div>
                        <div class ="formulario_campo">
                            <input type="number" class="formulario_controle" name="rg_cliente" placeholder="RG"><br><br>
                        </div>
                        <div class ="formulario_campo">
                            <input type="number" class="formulario_controle" name="telefone_produto" placeholder="Telefone"><br><br>
                        </div>
                        <div class ="formulario_campo">
                            <input type="number" class="formulario_controle" name="celular_produto" placeholder="Celular"><br><br>
                        </div>
                        <button class="botao_salvar">Incluir</button>
                    </form>
                </div>     
            </div>
        </header>
    </body>
</html>