<html>
    <head>
        <title>SITE SACO</title>
        <link rel="stylesheet" href="../css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0" >
    </head>
    <body>
        <header>
            <div class="center">
                <div class="logo" href="index.html"><img src="../../images/logo.png">
                </div>
                    <div class="menu">
                        <a href="index.html">Clientes</a>
                        <a href="funcionarios.html">Funcionarios</a>
                        <a href="#">Consultas</a>
                        <a href="#">Serviços</a>
                        <a href="informacoes.html">Informações</a>
                        <a href="login.html" id="sair">Sair</a>
                    </div>
            </div>
            <div class="centro">
                <div class="formulario">
                        <div class ="nome">PROJETO DE BANCO DE DADOS</div><br><br>
                        
                        <div class ="formulario_campo">
                                Bruno Arthsson Silva
                        </div><br>
                        <div class ="formulario_campo">
                                Gian Luca Oliveira
                        </div><br>
                        <div class ="formulario_campo">
                                Júlio Costa
                        </div>
                </div>     
            </div>
        </header>
    </body>
</html>
