<html>
    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0" >
    </head>
    <body>
        <div id="login-container">
            <h1>Login</h1>
            <form action="">
                <label for="email">Email</label>
                <input type="emial" name="email" id="email" placeholder="Digite seu email">
                <label for="senha">Senha</label>
                <input type="senha" name="senha" id="senha" placeholder="Digite sua senha">
                <input type="submit" value="login">
            </form>
            <div><img src="../../images/logo.png"></div>
        </div>
       
    </body>
</html>